  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li><a class="active" href="#activity" data-bs-toggle="tab">Informacion</a></li>
            <li><a href="#usertimeline" data-bs-toggle="tab">Documentos</a></li>
            <li><a href="#settings" data-bs-toggle="tab">Padres</a></li>
          </ul>
          <div class="tab-content">
            <div class="active tab-pane" id="activity">			
              <div class="box">
                <%= render 'players/shared/form'%>
              </div>
              <div class="box no-shadow">
              </div>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="settings">
            </div>
            <!-- /.tab-pane -->
          </div>
          <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
      </div>
    </div>
    <!-- /.row -->
  </section>