<div class="bg-comming-soon">
  <div class="row justify-content-md-center align-items-center h-p100">
    <div class="col-12">
      <div class="box bg-transparent no-border no-shadow">	
        <div class="box-body text-center">
              
          <div class="row justify-content-md-center align-items-center h-p100">
            
            <div class="col-md-12 col-12">
              <div class="text-start">
                <h1 class="fs-50 text-white"> <%= "Welcome to #{ActsAsTenant.current_tenant.name}" %> </h1>	

                  <p class="mb-20 text-white fs-18">NUBBE.NET ~ Gestión deportiva de alto rendimiento</p>
                
                <div class="mx-auto mt-40">
                  <h3 class="text-uppercase text-white">Infórmate cuando estemos listos</h3>
                  <div class="input-group">
                    <input type="text" class="form-control p-10" placeholder="Correo electrónico...">
                    <button type="button" class="btn btn-success">Notifícame</button>
                  </div>
                </div>
                
                <p class="gap-items-2 mt-40">
                  <a class="btn btn-social-icon btn-facebook" href="#"><i class="fa fa-facebook"></i></a>
                  <a class="btn btn-social-icon btn-google" href="#"><i class="fa fa-twitter"></i></a>
                  <a class="btn btn-social-icon btn-instagram" href="#"><i class="fa fa-linkedin"></i></a>
                  <a class="btn btn-social-icon btn-twitter" href="#"><i class="fa fa-twitter"></i></a>
                </p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>