<div id="<%= dom_id landing %>">
  <p>
    <strong>Title:</strong>
    <%= landing.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= landing.description %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= landing.published %>
  </p>

</div>
