<% content_for :title, "Editing landing" %>

<h1>Editing landing</h1>

<%= render "form", landing: @landing %>

<br>

<div>
  <%= link_to "Show this landing", @landing %> |
  <%= link_to "Back to landings", landings_path %>
</div>
