<div class="tab-pane" id="matches" role="tabpanel">
  <div class="card shadow-sm border-0 mb-4">
    <div class="card-header bg-light d-flex justify-content-between align-items-center">
      <h5 class="mb-0">
        <i class="fa-solid fa-trophy me-2"></i> Partidos del Torneo
      </h5>
      <button type="button"
              class="waves-effect waves-light btn btn-success mb-0"
              data-controller="modal-loader"
              data-action="click->modal-loader#load"
              data-modal-loader-url-value="<%= matches_modal_season_team_path(@season_team) %>"
              data-modal-loader-target-frame-value="#match_modal_frame">
        <i class="fa-solid fa-square-plus me-1"></i> Agregar Partido
      </button>      
    </div>

    <div class="card-body px-4 py-3">
      <turbo-frame id="matches_list">
        <% if @tournament_data[:matches].any? %>
          <%= render partial: "season_teams/matches/matches_display", locals: { tournament_data: @tournament_data } %>
        <% else %>
          <div id="matches_display">
            <div class="alert alert-info text-center">No hay partidos registrados aún.</div>
          </div>
        <% end %>
      </turbo-frame>
    </div>
  </div>

    <turbo-frame id="match_modal_frame"></turbo-frame>
</div>