<div class="col-12">
  <ul class="nav nav-tabs nav-fill" role="tablist">
    <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#season-team" role="tab"><i class="fas fa-users"></i> <span class="hidden-xs-down ms-15">Jugadores</span></a></li>
    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#regulations" role="tab"><i class="fa-solid fa-file-contract"></i> <span class="hidden-xs-down ms-15">Normas Reguladoras</span></a></li>
    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#rivals" role="tab"><i class="fa-solid fa-people-group"></i> <span class="hidden-xs-down ms-15">Equipo Participantes</span></a></li>
    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#matches" role="tab"><i class="fa-solid fa-chess-knight"></i> <span class="hidden-xs-down ms-15">Partidos & Detalles</span></a></li>
    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#about11" role="tab"><i class="ion-person"></i> <span class="hidden-xs-down ms-15">About</span></a></li>
    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#contact11" role="tab"><i class="ion-camera"></i> <span class="hidden-xs-down ms-15">Contact</span></a></li>
  </ul>
</div>