<div class="card shadow-sm border-0 mb-4">
  <div class="card-header bg-light d-flex justify-content-between align-items-center">
    <h5 class="mb-0">
      <i class="fa-solid fa-people-group me-2"></i> Equipos Participantes
    </h5>
    <button class="waves-effect waves-light btn btn-success mb-0"
            data-bs-toggle="modal"
            data-bs-target="#rivalModal">
      <i class="fa fa-check me-1"></i> Agregar Equipo
    </button>
  </div>

  <div class="card-body px-4 py-3">
    <turbo-frame id="rivals_list">
      <% if @season_team.rivals.any? %>
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 g-3">
          <%= render partial: "season_teams/rivals/rival",
                     collection: @season_team.rivals.order(:name),
                     as: :rival %>
        </div>
      <% else %>
        <div class="alert alert-info text-center">
          Aún no se han agregado equipos rivales.
        </div>
      <% end %>
    </turbo-frame>
  </div>
</div>

<%= render "season_teams/rivals/modal", tournament_data: @tournament_data, season_team: @season_team %>