<div class="modal fade" id="rivalModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar rival</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">

        <ul class="nav nav-tabs mb-3" role="tablist">
          <li class="nav-item">
            <a class="nav-link active"
               data-bs-toggle="tab"
               href="#tab-existing"
               role="tab">
              <i class="fa-solid fa-list"></i>
              Predefinido
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               data-bs-toggle="tab"
               href="#tab-new"
               role="tab">
               <i class="fa-solid fa-plus"></i>
               Personalizado
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <!-- 5.1 PREDEFINED LIST -->
          <div class="tab-pane fade show active" id="tab-existing" role="tabpanel">
            <turbo-frame id="existing_rivals">
              <% if @tournament_data[:rivals].any? %>
                <div class="list-group">
                  <% @tournament_data[:rivals].each do |rival| %>
                    <%= button_to season_team_rivals_path(season_team),
                                  method: :post,
                                  params: { existing_rival_id: rival.id },
                                  class: "list-group-item list-group-item-action d-flex justify-content-between align-items-center" do %>
                      <span><%= rival.name %></span>
                      <%= rival_team_logo(rival) %>
                    <% end %>
                  <% end %>
                </div>
              <% else %>
                <div class="alert alert-info">No hay rivales comunes registrados.</div>
              <% end %>
            </turbo-frame>
          </div>

          <!-- 5.2 NEW RIVAL FORM -->
          <div class="tab-pane fade" id="tab-new" role="tabpanel">
            <div id="rival_flash"></div>
            <turbo-frame id="new_rival_form">
              <%= render "season_teams/rivals/form", rival: Rival.new, season_team: season_team %>
            </turbo-frame>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>