<%= form_with(model: match, 
              url: season_team_matches_path(season_team), 
              data: { turbo_frame: "new_match_form" },
              html: { multipart: true }) do |f| %>
  <div class="card shadow-sm border-0">


    <div class="card-footer text-end">
      <%= f.submit "Guardar Partido", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>