@use "../icon-variables/variables-day" as var;

.wi-day-sunny:before {content: var.$day-sunny;}
.wi-day-cloudy:before {content: var.$day-cloudy;}
.wi-day-cloudy-gusts:before {content: var.$day-cloudy-gusts;}
.wi-day-cloudy-windy:before {content: var.$day-cloudy-windy;}
.wi-day-fog:before {content: var.$day-fog;}
.wi-day-hail:before {content: var.$day-hail;}
.wi-day-haze:before {content: var.$day-haze;}
.wi-day-lightning:before {content: var.$day-lightning;}
.wi-day-rain:before {content: var.$day-rain;}
.wi-day-rain-mix:before {content: var.$day-rain-mix;}
.wi-day-rain-wind:before {content: var.$day-rain-wind;}
.wi-day-showers:before {content: var.$day-showers;}
.wi-day-sleet:before {content: var.$day-sleet;}
.wi-day-sleet-storm:before {content: var.$day-sleet-storm;}
.wi-day-snow:before {content: var.$day-snow;}
.wi-day-snow-thunderstorm:before {content: var.$day-snow-thunderstorm;}
.wi-day-snow-wind:before {content: var.$day-snow-wind;}
.wi-day-sprinkle:before {content: var.$day-sprinkle;}
.wi-day-storm-showers:before {content: var.$day-storm-showers;}
.wi-day-sunny-overcast:before {content: var.$day-sunny-overcast;}
.wi-day-thunderstorm:before {content: var.$day-thunderstorm;}
.wi-day-windy:before {content: var.$day-windy;}
.wi-solar-eclipse:before {content: var.$solar-eclipse;}
.wi-hot:before {content: var.$hot;}
.wi-day-cloudy-high:before {content: var.$day-cloudy-high;}
.wi-day-light-wind:before {content: var.$day-light-wind;}