<div class="pull-right d-none d-sm-inline-block">
  <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">

    <li class="nav-item">
      <a href="https://www.nubbe.net/terms" class="nav-link">Términos de uso</a>
    </li>
    <li class="nav-item">
      <a href="https://www.nubbe.net/privacy" class="nav-link">Política de privacidad</a>
    </li>
  </ul>
</div> &copy; 2025 <a href="https://www.nubbe.net/">Nubbe.net</a>. Todos los derechos reservados.